body {
    display: flex;
    flex-direction: row;
    background: linear-gradient(to left bottom, lightgreen, lightblue);
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}